<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>Weather Be</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="/stylesheets/main.css">
		<link rel="icon" href="favicon.ico?v=2" type="image/x-icon"/>
		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>


	<body>

<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
.button {
  background-color: #FFFFFF;
  border: solid;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>

<!-- Header -->

<div class="header" id="myHeader">
<form>
 <input class="button" type="button" value="Take me back" onclick="history.go(-1)">
</form>
 <p> <h1><%=@location%>'s Photos</h1></p>
</div>

<div class="container">

<!-- Photo Grid -->
<div class="row"> 
  <div class="column">
    <a href="<%=@photos[:results][1][:links][:html]%>" target="_blank"><img src="<%=@photos[:results][1][:urls][:regular]%>" style="width:100%"></a>
    <a href="<%=@photos[:results][2][:links][:html]%>" target="_blank"><img src="<%=@photos[:results][2][:urls][:regular]%>" style="width:100%"></a>
    <a href="<%=@photos[:results][3][:links][:html]%>" target="_blank"><img src="<%=@photos[:results][3][:urls][:regular]%>" style="width:100%"></a>
    <a href="<%=@photos[:results][4][:links][:html]%>" target="_blank"><img src="<%=@photos[:results][4][:urls][:regular]%>" style="width:100%"></a>
    <a href="<%=@photos[:results][5][:links][:html]%>" target="_blank"><img src="<%=@photos[:results][5][:urls][:regular]%>" style="width:100%"></a>
    <a href="<%=@photos[:results][6][:links][:html]%>" target="_blank"><img src="<%=@photos[:results][6][:urls][:regular]%>" style="width:100%"></a>
    <a href="<%=@photos[:results][7][:links][:html]%>" target="_blank"><img src="<%=@photos[:results][7][:urls][:regular]%>" style="width:100%"></a>
    <a href="<%=@photos[:results][8][:links][:html]%>" target="_blank"><img src="<%=@photos[:results][8][:urls][:regular]%>" style="width:100%"></a>
    <a href="<%=@photos[:results][9][:links][:html]%>" target="_blank"><img src="<%=@photos[:results][9][:urls][:regular]%>" style="width:100%"></a>
    <a href="<%=@photos[:results][0][:links][:html]%>" target="_blank"><img src="<%=@photos[:results][0][:urls][:regular]%>" style="width:100%"></a>
  </div>
</div>

</div>

</footer> <!-- .site-footer -->
<footer class="site-footer">
	<div class="container">
          <p class="colophon">Copyright 2021 WeatherReal. All rights reserved</p>
					<p>Made</span> by <a href="http://www.jcbonassin.net" target="_blank"><strong>JC Bonassin</strong></a>
          <small>&copy; 2021 <strong>WeatherReal</strong></small>  
		<footer class="branding">
        <small>&copy; 2021 <strong>WeatherReal</strong></small>     
    </footer>
		</div>
		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/app.js"></script>
	  </footer>	
  </footer>
	</body>
</html>

