	<div class="hero" style="background-image: url(images/banner.png")>
				<div class="container">
					<form class="find-location" action="/main" method="POST">
						<input type="text" name= "weather_location" placeholder="Find your location...">
						<input type="submit" value="Add a new locations">
					</form>
				</div>
			</div>	
		
			<div class="forecast-table">
				<div class="container">
					<div class="forecast-container">
						<div class="today forecast">
							<div class="forecast-header">
								<div class="day"><%=Time.at(@weather[:current][:dt]).strftime('%A / %H:%M %p')%></div>
								<div class="date"><%=Time.at(@weather[:current][:dt]).strftime('%d %b %Y')%></div>
							</div> <!-- .forecast-header -->
							
							<div class="forecast-content">
								<div class="location"><%=@location%></div>
								<div class="degree">
									<div class="num"><%=@weather[:current][:temp].round%><sup>o</sup>C</div>
									<div class="forecast-icon">
										<div style="font-size:5rem"><%=graph_cond(@weather[:current][:weather].first[:description])%></div>
									</div>	
								</div>
								<h1><p><%=@weather[:current][:weather].first[:description].capitalize%></p></h1>
								<span><img src="images/icon-umberella.png" alt=""><%=(@weather[:hourly][1][:pop]*100).floor%>%</span>
								<span><img src="images/icon-wind.png" alt=""><%=(@weather[:current][:wind_speed].round)%> km/h</span>
								<span><%=graph_cond(compass(@weather[:current][:wind_deg]))%><%=compass(@weather[:current][:wind_deg])%></span>

							 
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day"><%=Time.at(@weather[:daily][1][:dt]).strftime('%A')%></div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<div style="font-size:4rem"><%=graph_cond(@weather[:daily][1][:weather].first[:description])%></div>
								</div>
								<div class="degree"><%=@weather[:daily][1][:temp][:day].to_i%><sup>o</sup>C</div>
								<div class="min">H :<%=@weather[:daily][1][:temp][:max].to_i%><sup>o</sup></div>
								<div class="min">L :<%=@weather[:daily][1][:temp][:min].to_i%><sup>o</sup></div>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day"><%=Time.at(@weather[:daily][2][:dt]).strftime('%A')%></div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<div style="font-size:4rem"><%=graph_cond(@weather[:daily][2][:weather].first[:description])%></div>
								</div>
								<div class="degree"><%=@weather[:daily][2][:temp][:day].to_i%><sup>o</sup>C</div>
								<div class="min">H :<%=@weather[:daily][2][:temp][:max].to_i%><sup>o</sup></div>
								<div class="min">L :<%=@weather[:daily][2][:temp][:min].to_i%><sup>o</sup></div>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day"><%=Time.at(@weather[:daily][3][:dt]).strftime('%A')%></div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<div style="font-size:4rem"><%=graph_cond(@weather[:daily][3][:weather].first[:description])%></div>
								</div>
								<div class="degree"><%=@weather[:daily][3][:temp][:day].to_i%><sup>o</sup>C</div>
								<div class="min">H :<%=@weather[:daily][3][:temp][:max].to_i%><sup>o</sup></div>
								<div class="min">L :<%=@weather[:daily][3][:temp][:min].to_i%><sup>o</sup></div>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day"><%=Time.at(@weather[:daily][4][:dt]).strftime('%A')%></div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<div style="font-size:4rem"><%=graph_cond(@weather[:daily][4][:weather].first[:description])%></div>
								</div>
								<div class="degree"><%=@weather[:daily][4][:temp][:day].to_i%><sup>o</sup>C</div>
								<div class="min">H :<%=@weather[:daily][4][:temp][:max].to_i%><sup>o</sup></div>
								<div class="min">L :<%=@weather[:daily][4][:temp][:min].to_i%><sup>o</sup></div>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day"><%=Time.at(@weather[:daily][5][:dt]).strftime('%A')%></div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<div style="font-size:4rem"><%=graph_cond(@weather[:daily][5][:weather].first[:description])%></div>
								</div>
								<div class="degree"><%=@weather[:daily][5][:temp][:day].to_i%><sup>o</sup>C</div>
								<div class="min">H :<%=@weather[:daily][5][:temp][:max].to_i%><sup>o</sup></div>
								<div class="min">L :<%=@weather[:daily][5][:temp][:min].to_i%><sup>o</sup></div>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day"><%=Time.at(@weather[:daily][6][:dt]).strftime('%A')%></div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<div style="font-size:4rem"><%=graph_cond(@weather[:daily][6][:weather].first[:description])%></div>
								</div>
								<div class="degree"><%=@weather[:daily][6][:temp][:day].to_i%><sup>o</sup>C</div>
								<div class="min">H :<%=@weather[:daily][6][:temp][:max].to_i%><sup>o</sup></div>
								<div class="min">L :<%=@weather[:daily][6][:temp][:min].to_i%><sup>o</sup></div>
							</div>
						</div>
					</div>
				</div>
			</div>

		<!--<	<%=@photos%>-->
		<!--	<img src="<%=@photos[:results][0][:urls][:thumb]%>"alt=""></li>-->
		
			<main class="main-content">
				<div class="fullwidth-block">
					<div class="container">
						<!--<h2 class="section-title">Your Locations</h2>	-->
						<div class="row">
						<% @locations.each do |location| %>
							<div class="col-md-3 col-sm-6">
								<div class="live-camera">
								<%=API.search_location(location.weather_location)[:timezone]%>
									<p><a href="main/<%=location.id%>"target=""><img src="<%=API.search_location_photo(location.weather_location)[:results][1][:urls][:thumb]%>"/></a></p>
									<h3 class="location"><a href="main/<%= location.id %>"target=""><%=location.weather_location.capitalize%></a></h3>
									<small class="date">8 oct, 8:00AM</small>
								</div>
							</div>
							<% end %>
					    </div>
					</div>
			

							
		<style>
			.container1  {
   				 margin-right: auto;
   				 margin-left: auto;
   				 padding-left: 15px;
   				 padding-right: 15px;
   				 *zoom: 1; }

			.container1:after {
			     content: " ";
			     clear: both;
			     display: block;
			     overflow: hidden;
			     height: 0; }
			   @media (min-width: 268px) {
                 .container1 {
                   width: 750px; } }
               @media (min-width: 292px) {
                 .container1 {
                   width: 370px; } }
               @media (min-width:200px) {
                 .container1 {
                   width: 370px; } }

			 .container1-fluid {
			   margin-right: auto;
			   margin-left: auto;
			   padding-left: 15px;
			   padding-right: 15px;
			   *zoom: 1; }
			   .container1-fluid:after {
			     content: " ";
			     clear: both;
			     display: block;
			     overflow: hidden;
			     height: 0; }
		
			 .row {
			   margin-left: -15px;
			   margin-right: -15px;
			   *zoom: 1; }
			   .row:after {
			     content: " ";
			     clear: both;
			     display: block;
			     overflow: hidden;
			     height: 0; }
			.forecast-container1 {
  				 width: 100%;
  				 background: #323544;
  				 display: table;
  				 table-layout: fixed;
  				 width: 100%;
  				 overflow: hidden;
  				 border-radius: 10px;
  				 margin-top: -150px;
  				 margin-bottom: 50px; }
  				 .forecast-container1 .forecast {
  				   display: table-cell;
  				   vertical-align: top; }
  				   .forecast-container1 .forecast:nth-child(even) {
  				     background-color: #262936; }
  				   @media screen and (max-width: 990px) {
  				     .forecast-container1 .forecast {
  				       display: block;
  				       width: 16.6667%;
  				       float: left; } }
  				   .forecast-container1 .forecast.today1 {
  				     width: 420px; }
  				     .forecast-container1 .forecast.today1 .forecast-header {
  				       *zoom: 1; }
  				       .forecast-container1 .forecast.today1 .forecast-header:after {
  				         content: " ";
  				         clear: both;
  				         display: block;
  				         overflow: hidden;
  				         height: 0; }
  				       .forecast-container1 .forecast.today1 .forecast-header .day {
  				         float: left; }
  				       .forecast-container1 .forecast.today1 .forecast-header .date {
  				         float: right; }
  				     .forecast-container1 .forecast.today1 .forecast-content {
  				       text-align: left;
  				       padding-top: 30px;
  				       padding-bottom: 30px; }
  				     .forecast-container1 .forecast.today1 .location {
  				       font-size: 18px;
  				       font-size: 1.2857142857em;
  				       font-weight: 400; }
  				     .forecast-container1 .forecast.today1 .degree .num, .forecast-container1 .forecast.today1 .degree .forecast-icon {
  				       display: inline-block;
  				       vertical-align: middle; }
  				     .forecast-container1 .forecast.today1 .degree .num {
  				       font-size: 90px;
  				       font-size: 6.4285714286rem;
  				       margin-right: 30px; }
  				     .forecast-container1 .forecast.today1 span {
  				       margin-right: 20px; }
  				       .forecast-container1 .forecast.today1 span img {
  				         margin-right: 5px;
  				         vertical-align: middle; }
  				     @media screen and (max-width: 990px) {
  				       .forecast-container1 .forecast.today1 {
  				         display: block;
  				         width: 100%; } }
  				   .forecast-container1 .forecast .forecast-header {
  				     background: rgba(0, 0, 0, 0.1);
  				     padding: 10px;
  				     text-align: center;
  				     font-weight: 400; }
  				   .forecast-container1 .forecast .forecast-icon {
  				     height: 50px; }
  				   .forecast-container1 .forecast .forecast-content {
  				     padding: 50px 20px 10px;
  				     text-align: center; }
  				     .forecast-container1 .forecast .forecast-content .forecast-icon {
  				       margin-bottom: 20px; }
  				     .forecast-container1 .forecast .forecast-content .degree {
  				       font-size: 24px;
  				       font-size: 1.7142857143em;
  				       color: white;
  				       font-weight: 700; }
  				     .forecast-container1 .forecast .forecast-content small {
  				       font-size: 16px;
  				       font-size: 1.1428571429em; }
		</style>	



			


				<!--	<div class="container">
						<div class="styleform11">
			    		   <form method="post" action="/main/delete">
  			    		   <input id="hidden" type="hidden" name="_method" value="DELETE">
  			    		   <input type="submit" value="Delete Locations">
			    		   </form>
			 			</div>
					</div>-->
	

			<!--<% @locations.each do |location| %>
                <p><a href="main/<%= location.id %>"><%= location.weather_location %></a></p>
                <p> <a href="main/<%= location.id %>/edit"></span></a></p>
                <% end %>-->		