	<div class="hero" style="background-image: url(<%=@photos[:results][0][:urls][:full]%>")>
				<div class="container">
					<form class="find-location" action="/main" method="POST">
						<input type="text" name= "weather_location" placeholder="Find your location...">
						<input type="submit" value="Add a new locations">
					</form>
				</div>
			</div>	
		
			<div class="forecast-table">
				<div class="container">
					<div class="forecast-container">
						<div class="today forecast">
							<div class="forecast-header">
								<div class="day"><%=API.time(@weather[:timezone]).strftime('%A / %H:%M %p')%></div>
								<div class="date"><%=API.time(@weather[:timezone]).strftime('%d %b %Y')%></div>
							</div> <!-- .forecast-header -->
							
							<div class="forecast-content">
								<div class="location"><%=@location%> (<%=@weather[:timezone]%>)</div>
								<div class="degree">
									<div class="num"><%=@weather[:current][:temp].round%><sup>o</sup>C</div>
									<div class="forecast-icon">
										<div style="font-size:5rem"><%=graph_cond(@weather[:current][:weather].first[:description])%></div>
									</div>	
								</div>
								<h1><p><%=@weather[:current][:weather].first[:description].capitalize%></p></h1>
								<span><img src="images/icon-umberella.png" alt=""><%=(@weather[:hourly][1][:pop]*100).floor%>%</span>
								<span><img src="images/icon-wind.png" alt=""><%=(@weather[:current][:wind_speed].round)%> km/h</span>
								<span><%=graph_cond(compass(@weather[:current][:wind_deg]))%><%=compass(@weather[:current][:wind_deg])%></span>

							 
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day"><%=Time.at(@weather[:daily][1][:dt]).strftime('%A')%></div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<div style="font-size:4rem"><%=graph_cond(@weather[:daily][1][:weather].first[:description])%></div>
								</div>
								<div class="degree"><%=@weather[:daily][1][:temp][:day].to_i%><sup>o</sup>C</div>
								<div class="min">H :<%=@weather[:daily][1][:temp][:max].to_i%><sup>o</sup></div>
								<div class="min">L :<%=@weather[:daily][1][:temp][:min].to_i%><sup>o</sup></div>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day"><%=Time.at(@weather[:daily][2][:dt]).strftime('%A')%></div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<div style="font-size:4rem"><%=graph_cond(@weather[:daily][2][:weather].first[:description])%></div>
								</div>
								<div class="degree"><%=@weather[:daily][2][:temp][:day].to_i%><sup>o</sup>C</div>
								<div class="min">H :<%=@weather[:daily][2][:temp][:max].to_i%><sup>o</sup></div>
								<div class="min">L :<%=@weather[:daily][2][:temp][:min].to_i%><sup>o</sup></div>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day"><%=Time.at(@weather[:daily][3][:dt]).strftime('%A')%></div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<div style="font-size:4rem"><%=graph_cond(@weather[:daily][3][:weather].first[:description])%></div>
								</div>
								<div class="degree"><%=@weather[:daily][3][:temp][:day].to_i%><sup>o</sup>C</div>
								<div class="min">H :<%=@weather[:daily][3][:temp][:max].to_i%><sup>o</sup></div>
								<div class="min">L :<%=@weather[:daily][3][:temp][:min].to_i%><sup>o</sup></div>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day"><%=Time.at(@weather[:daily][4][:dt]).strftime('%A')%></div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<div style="font-size:4rem"><%=graph_cond(@weather[:daily][4][:weather].first[:description])%></div>
								</div>
								<div class="degree"><%=@weather[:daily][4][:temp][:day].to_i%><sup>o</sup>C</div>
								<div class="min">H :<%=@weather[:daily][4][:temp][:max].to_i%><sup>o</sup></div>
								<div class="min">L :<%=@weather[:daily][4][:temp][:min].to_i%><sup>o</sup></div>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day"><%=Time.at(@weather[:daily][5][:dt]).strftime('%A')%></div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<div style="font-size:4rem"><%=graph_cond(@weather[:daily][5][:weather].first[:description])%></div>
								</div>
								<div class="degree"><%=@weather[:daily][5][:temp][:day].to_i%><sup>o</sup>C</div>
								<div class="min">H :<%=@weather[:daily][5][:temp][:max].to_i%><sup>o</sup></div>
								<div class="min">L :<%=@weather[:daily][5][:temp][:min].to_i%><sup>o</sup></div>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day"><%=Time.at(@weather[:daily][6][:dt]).strftime('%A')%></div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<div style="font-size:4rem"><%=graph_cond(@weather[:daily][6][:weather].first[:description])%></div>
								</div>
								<div class="degree"><%=@weather[:daily][6][:temp][:day].to_i%><sup>o</sup>C</div>
								<div class="min">H :<%=@weather[:daily][6][:temp][:max].to_i%><sup>o</sup></div>
								<div class="min">L :<%=@weather[:daily][6][:temp][:min].to_i%><sup>o</sup></div>
							</div>
						</div>
					</div>
				</div>
			</div>
	
			<main class="main-content">
				<div class="fullwidth-block">
					<div class="container">
						<h2 class="section-title">Your Locations</h2>	
						<div class="row">
							<% @locations.each do |location| %>
							<div class="col-md-3 col-sm-6">
								<div class="live-camera">
								    	<%=API.search_location(location.weather_location)[:timezone]%>
										<p><a href="main/<%=location.id%>"target=""><img src=<%=API.search_location_photo_flickr(location.weather_location)%> /></a></p>
										<h3 class="location"><a href="main/<%= location.id %>"target=""><%=location.weather_location.capitalize%></a></h3>
										<small class="date"><%=Time.at(API.search_location(location.weather_location)[:current][:dt]).strftime('%A %d %b %Y')%></small>												
								</div>
							</div>
							<% end %>
									<div class="container">
										<% if (@locations.blank?) %>
  										<h1 class="section-title" style="color:red;"> You have no Locations yet.</h1>
										<% end %>
									</div>		
					    </div>															
					</div> 
				</div>

			<div class="fullwidth-block" data-bg-color="#262936">
					<div class="container">
                    <p><h1>BBC News</h1></p>
						<div class="row">
							<div class="col-md-4">
								<div class="news">
									<div class="date"><%=Time.now.strftime('%d %B')%></div>
									<figure class="live-camera-cover"><img src="<%=@news[:articles][0][:urlToImage]%>" width="230" height="151" alt=""></figure>
									<h3><a href="<%=@news[:articles][0][:url]%>"target="_blank"><%=@news[:articles][0][:title]%></a></h3>
									<p><%=@news[:articles][0][:description]%></p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="news">
									<div class="date"><%=Time.now.strftime('%d %B')%></div>
									<figure class="live-camera-cover"><img src="<%=@news[:articles][1][:urlToImage]%>" width="230" height="151" alt=""></figure>
									<h3><a href="<%=@news[:articles][1][:url]%>"target="_blank"><%=@news[:articles][1][:title]%></a></h3>
									<p><%=@news[:articles][1][:description]%></p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="news">
									<div class="date"><%=Time.now.strftime('%d %B')%></div>
									<figure class="live-camera-cover"><img src="<%=@news[:articles][2][:urlToImage]%>" width="230" height="151" alt=""></figure>
									<h3><a href="<%=@news[:articles][2][:url]%>"target="_blank"><%=@news[:articles][2][:title]%></a></h3>
									<p><%=@news[:articles][2][:description]%></p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="fullwidth-block">
					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<h2 class="section-title">More BBC News</h2>
								<ul class="arrow-feature">
									<li>
										<h3><a href="<%=@news[:articles][3][:url]%>"target="_blank"><%=@news[:articles][3][:title]%></a></h3>
										<p><%=@news[:articles][3][:description]%></p>
									</li>
									<li>
										<h3><a href="<%=@news[:articles][4][:url]%>"target="_blank"><%=@news[:articles][4][:title]%></a></h3>
										<p><%=@news[:articles][4][:description]%></p>
									</li>
									<li>
										<h3><a href="<%=@news[:articles][5][:url]%>"target="_blank"><%=@news[:articles][5][:title]%></a></h3>
										<p><%=@news[:articles][5][:description]%></p>
									</li>
								</ul>
							</div>
							<div class="col-md-4">
								<h2 class="section-title">Weather News</h2>
								<ul class="arrow-list">
									<li><a href="<%=@news_weather[:articles][0][:url]%>"target="_blank"><%=@news_weather[:articles][0][:title]%></a></li>
									<li><a href="<%=@news_weather[:articles][1][:url]%>"target="_blank"><%=@news_weather[:articles][1][:title]%></a></li>
									<li><a href="<%=@news_weather[:articles][2][:url]%>"target="_blank"><%=@news_weather[:articles][2][:title]%></a></li>
									<li><a href="<%=@news_weather[:articles][3][:url]%>"target="_blank"><%=@news_weather[:articles][3][:title]%></a></li>
									<li><a href="<%=@news_weather[:articles][4][:url]%>"target="_blank"><%=@news_weather[:articles][4][:title]%></a></li>
									<li><a href="<%=@news_weather[:articles][5][:url]%>"target="_blank"><%=@news_weather[:articles][5][:title]%></a></li>
									<li><a href="<%=@news_weather[:articles][6][:url]%>"target="_blank"><%=@news_weather[:articles][6][:title]%></a></li>
								</ul>
							</div>
							<div class="col-md-4">
								<h2 class="section-title"> Photos of your City </h2>
								<div class="photo-grid2">
									<a href="/photos/your_city"><img src="<%=@photos[:results][4][:urls][:small]%>" alt="#"></a>
								<!--	<a href="#"><img src="" alt="#"></a>
									<a href="#"><img src="" alt="#"></a>
									<a href="#"><img src="" alt="#"></a>
									<a href="#"><img src="" alt="#"></a>
									<a href="#"><img src="" alt="#"></a>
									<a href="#"><img src="" alt="#"></a>
									<a href="#"><img src="" alt="#"></a>
									<a href="#"><img src="" alt="#"></a>
									<a href="#"><img src="" alt="#"></a>-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</main> <!-- .main-content -->
							
		



	